<!DOCTYPE html>
<html>
<head>
  <title> <%= full_title(yield(:title)) %> </title>
  <%= stylesheet_link_tag "mobile" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <meta name="MobileOptimized" content="320"/>
  <meta name="HandheldFriendly" content="true"/>
  <%= csrf_meta_tags %>

</head>
<body>
<%= link_to image_tag("topsmall.jpg", style: "width:100%;"), root_path %>

<ul class="breadcrumb">
  <%= render_breadcrumbs :tag => :li, :separator => "" %>
</ul>

<%= yield %>

<% if !android_device? %>
    <div>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- my2 -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:320px;height:100px"
           data-ad-client="ca-pub-1351673544337847"
           data-ad-slot="3301281933"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
<% end %>

<%= image_tag("footsmall.jpg", style: "width:100%;") %>
</body>
</html>
